<p>
	Gather 'round and I'll tell you a story of a software engineer who decided to go independent.
	I&ndash;er <i>she</i>&ndash;left the wonderful team at <a href="http://www.bigtent.com">bigtent.com</a>
	to do her own work.
</p>
<p>
	This work consists mostly of learning new technologies and tools at this point.
	After years of working on web apps with PHP/LAMP, C#/.Net, and Java, picking up Ruby on Rails and learning to make
	mobile apps with Objective C has been
	a fun and welcome change.
</p>
<p>
	But enough about the process! This space should be filling up with concrete results soon.
</p>