<p>Check me out on:</p>
<ul>
	<li><a href="http://www.facebook.com/mabmierau">Facebook</a></li>
	<li><a href="http://www.twitter.com/mabmierau">Twitter</a></li>
	<li><a href="http://lazysanfranciscan.blogspot.com">Blogger</a></li>
	<li><a href="http://xenon.stanford.edu/~mab">Old home page</a></li>
</ul>
