<p>These are things I'm working on.</p>

<ul>
	<li>
		<%= link_to "Two-letter Scrabble Word Quiz", :controller => "two_letter", :action => "index" %>
		&ndash; Quiz yourself to find out how well you know the two-letter words in Scrabble.
	</li>
</ul>